export(SEAHORS)
import(shiny)
import(shinythemes)
import(ggplot2)
import(dplyr)
import(plotly)
import(viridis)
importFrom(DT, renderDataTable, datatable, DTOutput)
importFrom(shinyWidgets, spectrumInput)
importFrom(shinyjs, refresh, reset, useShinyjs)
importFrom(grDevices, cm.colors, heat.colors, rainbow, terrain.colors, topo.colors)
importFrom(stats, density, na.omit)
importFrom(utils, combn, write.table, read.csv, data, write.csv2)
importFrom(MASS, kde2d)
importFrom(gridExtra, grid.arrange)
importFrom(raster, stack, plotRGB, ncell, brick, sampleRegular, getValues, stretch, coordinates, extent)
importFrom(rmarkdown, render)
importFrom(tools, file_ext)
importFrom(readxl, read_xls, read_xlsx, excel_sheets)
importFrom(stringr, str_to_lower, str_replace_all)
importFrom(htmlwidgets, JS, saveWidget)

 
