export(SEAHORS)
import(shiny)
import(shinythemes)
import(dplyr)
import(plotly)
importFrom(viridis, scale_color_viridis)
importFrom(ggplot2, ggplot, geom_blank, geom_density, aes, geom_raster, geom_point, theme, xlab, element_text, labs, ylab, scale_color_manual, scale_fill_manual, scale_size_manual, scale_shape_manual, after_stat, coord_flip, element_blank, geom_segment, ggsave, guide_legend, coord_fixed, annotation_raster, scale_fill_identity, scale_x_continuous, scale_y_continuous, coord_equal, guides)
importFrom(DT, datatable, DTOutput)
importFrom(shinyWidgets, spectrumInput)
importFrom(shinyjs, refresh, reset, useShinyjs)
importFrom(grDevices, cm.colors, heat.colors, rainbow, terrain.colors, topo.colors)
importFrom(stats, density, na.omit)
importFrom(utils, combn, write.table, read.csv, data, write.csv2)
importFrom(MASS, kde2d)
importFrom(gridExtra, grid.arrange)
importFrom(raster, stack, plotRGB, ncell, brick, sampleRegular, getValues, stretch, coordinates, extent)
importFrom(rmarkdown, render)
importFrom(tools, file_ext)
importFrom(readxl, read_xls, read_xlsx, excel_sheets)
importFrom(stringr, str_to_lower, str_replace_all)
importFrom(htmlwidgets, JS, saveWidget)

 
